header{
    width: 100%;
    height: 92px;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #CF2B2B;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
header h1{
    width: 248px;
    height: 44px;
    font-family: Righteous;
    font-size: 44px;
    line-height: 55px;
    letter-spacing: -0.012em;
    color: #FFFFFF;
    position: absolute;
    top: 8px;
    left: 21px;
}
header p{
    width: 226px;
    height: 17px;
    font-family: Roboto;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    position: absolute;
    bottom: 18px;
    left: 21px;
}