/* Header Styler */
header{
    width: 100%;
    height: 92px;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #CF2B2B;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 2;
}
header h1{
    width: 248px;
    height: 44px;
    font-family: Righteous;
    font-size: 44px;
    line-height: 55px;
    letter-spacing: -0.012em;
    color: #FFFFFF;
    position: absolute;
    top: 8px;
    left: 21px;
}
header p{
    width: 226px;
    height: 17px;
    font-family: Roboto;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    position: absolute;
    bottom: 18px;
    left: 21px;
}

main{
    padding-top: 100px;
    padding-bottom:108px;
    padding-left: 19px;
    background-color: #E5E5E5; 
}
/* Seleções do combo */
.selection{
    width: 100%;
    height: auto;
    margin-top: 27px;
    overflow: hidden;
}
.selection h2{
    width: auto;
    height: auto;
    font-family: Righteous;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.018em;
    color: #333333;
}
.options{
    width: 100%;
    height: auto;
    display: flex;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.options::-webkit-scrollbar {
    display: none;
}
.box{
    width: 172px;
    height: 216px;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px -4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 19px;
    margin-top: 17px;
    padding: 0 14px;
    cursor: pointer;
    position: relative;
    z-index: 1;
}
.box img{
    max-width: 144px;
    max-height: 87px;
    width: auto;
    height: fit-content;
    border-radius: 4px;
    margin-top: 18px;
}
.box h3{
    width: 139px;
    height: 23px;
    font-family: Roboto;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    margin-top: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    
}
.box #description{
    width: 147px;
    height: 39px;
    font-family: Roboto;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #A6A6A6;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 4px;
}
.box .price{
    width: 147px;
    height: auto;
    font-family: Roboto;
    font-size: 16px;
    line-height: 19px;
    margin-top: 5px;
}

.selected{
    border: 5px solid #32B72F;
}
ion-icon{
    color: #32B72F;
    font-size: 19px;
    position: absolute;
    right: 0;
    bottom: 0;
}

#confirmationScreen{
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 5;
}

#confirmationScreen h3{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    font-weight: 700;
}
#confirmationScreen #order{
    position: absolute;
    width: 377px;
    height: 353px;
    padding: 26px;
    left: calc(50% - 377px/2);
    top: calc(50% - 353px/2 - 0.5px);

    background: #50D074;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    border-radius: 9px;

    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.018em;
    color: #FFFFFF;
    box-sizing:border-box;
}

#confirmationScreen button{
    position: absolute;
    width: 329px;
    height: 52px;
    left: calc(50% - 329px/2);
    top: calc(75% - 52px/2);

    background: #FFFFFF;
    color: #50D074;
    border-radius: 100px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.018em;
    cursor: pointer;
}

#order .font400{
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    margin: 9px 0;
}
#order #total{
    font-weight: 700;
    display: flex;
    justify-content: space-between;
}

#order #cancel{
    width: 333px;
    height: 52px;
    position: absolute;
    left: calc(50% - 329px/2);
    top: calc(90% - 52px/2);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* Footer Style */
footer{
    width: 100%;
    height: 92px;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
footer button{
    width: 90%;
    height: 61px;
    color: #FFFFFF;
    border-radius: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.018em;
    cursor: pointer;
}

#notReady{
    background-color: #CBCBCB;
}

#ready{
    background-color: #32B72F;
}

.hidden{
    display: none;
}